html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.loginButton {
  width: 15em;
  height: 2em;
  color: white;
  background-color: blue;
}

.errorLogin {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: red;
  background-color: pink;
}

.successLogin {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: green;
  background-color: lime;
}

.profileData {
  background-color: #34a5fa;
  color: white;
  display: flex;
}

.profileData p {
  padding: 2em;
}

.createAdForm label,
input,
textarea {
  width: 30em;
  height: 3em;
  font-size: 16px;
  display: flex;
}

.createAdForm label {
  padding-top: 2em;
  padding-bottom: 2em;
}

.createAdForm input {
  padding-left: 1em;
}

.createAdForm button {
  align: auto;
  margin-top: 3em;
  width: 25em;
  background-color: blue;
  height: 3em;
  color: white;
}

.createAdForm .removeAds {
  align: auto;
  margin-top: 3em;
  width: 25em;
  background-color: red;
  height: 3em;
  color: white;
}

.totalAds{
  padding-top:5em;
}

.totalAds button {
  color: white;
  background-color: green;
}

.totalAds li {
  display: flex;
  padding-top:2em;
}

.totalAds li button{
  margin-left:2em;
}

.totalAds li button {
  color: white;
  background-color: red;
}
