@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md;
  }
}

@layer utilities {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

progress {
  /* style rules */
  background-color: rgb(255,255,255, 0);
  /* chrome, edge, opera, safari apply "webkit" stylesheet for progress bar*/
  -webkit-appearance: none;
  accent-color: orangered; /* sep 2021 - mar 2022 */
  /*height: 20px;*/
  border-radius: 10px;
}
progress::-webkit-progress-bar {
  /* style rules background in chrome, edge, opera */
  background-color: rgb(255,255,255, 0);
  opacity: 1;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  /* style rules chrome edge opera value bar colour */
  background-color: rgb(255,255,255, 0.3);
  border-radius: 10px;
  transition: width 0.4s ease-in;
}
progress::-moz-progress-bar {
  /* style rules ff equivalent to ::-webkit-progress-value */
  background-color: rgb(255,255,255, 0.3);
  border-radius: 10px;
  transition: width 0.4s ease-in;
}
